@model List<ResultCategoryDto>
@{
	ViewData["Title"] = "AdminCar";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Blog Category List</h4>
						<p class="card-subtitle mb-4">
							You can carry out transactions regarding categories here. Please enter the information completely.
						</p>

						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Category Name</th>
										<th>Delete</th>
										<th>Update</th>
										<th>Blogs of Category</th>
									</tr>
								</thead>
								<tbody>

									@foreach (var item in Model)
									{
										count++;
										<tr>
											<td>@count</td>
											<td>@item.Name</td>
											<td><a asp-area="Admin" asp-controller="AdminCategory" asp-action="RemoveCategory" asp-route-id="@item.CategoryId" class="btn btn-outline-danger">Delete</a></td>
											<td><a href="/Admin/AdminCategory/UpdateCategory/@item.CategoryId" class="btn btn-outline-primary">Update</a></td>
											<td><a href="/Admin/AdminCategory/#/@item.CategoryId" class="btn btn-outline-primary">Blogs</a></td>
										</tr>
									}

								</tbody>
							</table>
							<a href="/Admin/AdminCategory/CreateCategory" class="btn btn-outline-success">Create a New Category</a>

						</div>

					</div>
					<!-- end card-body-->
				</div>
				<!-- end card -->

			</div>
			<!-- end col -->
			<!-- end col -->
		</div>

	</div> <!-- container-fluid -->
</div>

