@model CreateServiceDto

@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Services Information Create Page</h4>
                        <p class="card-subtitle mb-4">
                            You can perform the operations on the admin side of the service list in the home page and services section from the page below. To maintain theme integrity, make 4 service entries.

                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputTitle">Service Title</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Service Description</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIconUrl">Service Icon Url</label>
                                <input type="text" class="form-control" id="exampleInputIconUrl" asp-for="IconUrl">
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
