@model CreateTestimonialDto

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">New Testimonial</h4>
                        <p class="card-subtitle mb-4">
                           You can perform to create process.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Testimonial Name and Surname</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTitle">Testimonial Title</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Testimonial Image</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl" asp-for="ImageUrl">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Testimonial Comment</label>
                                <textarea rows="5" asp-for="Comment" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


